body {
    padding-top: 70px;
    height: 2000px;
}
:root {
    --main-color : #E41B17;
}
/********* Start BootStrap*/
.navbar {
    min-height: 70px;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: var(--main-color);
}
.navbar-brand {
    font-size: 30px;
    line-height: 40px;
}
.navbar-brand span,
.color {
    color: var(--main-color);
}
.navbar-inverse .navbar-nav > li > a {
    color: #BBB;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 17px;
}
.dropdown-menu {
    background-color: #333;
    border-radius: 0;
    min-width: 200px;
}
.navbar-right .dropdown-menu {
    left: 0;
    right: auto;
}
.navbar-nav > li > .dropdown-menu {
    border-top: 2px solid var(--main-color);
}
.dropdown-menu > li > a {
    color: #BBB;
    margin: 0;
    padding: 6px 20px;
    -webkit-transition: padding .5s ease;
    -moz-transition: padding .5s ease;
    -o-transition: padding .5s ease;
    transition: padding .5s ease;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: var(--main-color);
    color: #FFF;
    padding-left: 25px;
}
.dropdown-menu .divider {
    background-color: var(--main-color);
}
/*Navbar Toggle*/
.navbar-toggle {
    margin-top: 18px;
}
/*Navbar Toggle*/
/* Start Slide*/
.carousel-caption {
    background-color: rgb(153, 146, 146, 0.52);;
    color:#fff;
    border-radius: 10px;
    margin-bottom: 95px;
}
.carousel-indicators {bottom: 0;}
.carousel-indicators li {
    width: 15px;
    height: 15px;
}
.carousel-indicators li.active {
    width: 17px;
    height: 17px;
    background-color: var(--main-color);
}
/******** End BootStrap*/
/*Start Secion About */
.about {
    padding-top: 40px;
    padding-bottom: 40px;
}
.about h1 ,
.about h2 {
    font-weight: bold;
}
.about .lead {
    color: #777;
    font-size: 23px;
    margin-top: 15px;
}
/*ُEnd Secion About */
/*Start Feature*/
.feature {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #DDD;
}
.feature h1 {
    font-weight: bold;
    margin-bottom: 50px
}
.feature .feat {
    margin-bottom: 30px;
}
.feature .feat p {
    line-height: 2em;
}
.feature .feat .glyphicon {
    font-size: 25px;
    margin-bottom: 10px;
    color : var(--main-color)
}

/*end Feature*/
/*Start Testimonails*/
section h1 {
    font-weight: bold;
}
.testimonials {
    padding-top: 60px;
    padding-bottom: 60px;
}
.testimonials .lead {
    line-height: 1.5em;
}
/*End Testimonails*/